<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hellos</title>

    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="icon" href="images/favicon.png" />
  </head>

  <body>
    <div id="app">
      <h1>There are <span id="hellosCounter"></span> hellos in the database</h1>
      <button id="createHelloBtn">Add a hello!</button>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>